@font-face {
    font-family: gilroy;
    src: url(/Gilroy-Medium.ttf);
}
@font-face {
    font-family: kajiro;
    src: url(Kajiro\ Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    
}
#back{
    width: 100%;
    height: 100vh; 
      z-index: 1;
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
      z-index: 2;
    
}
#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
     
}
#nav{

    display: flex;
    align-items: center;
    justify-content: space-between ;
    width: 100%;
    padding: 35px 0;
}
#nav img{
    height: 60px;
}
#nav a{
    pointer-events: all;
    color: #fff;
    font-family:gilroy ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 55px;
}
#hero{ 
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: space-between;
  
    width: 100%;
    
}
#heroleft{
    min-width: 50%;
 
} 
#heroleft .elem h1{
    line-height: .9;
    font-family: kajiro;
    color: white;
    font-weight:  100;
    font-size: 11vw ;
}
#heroleft .elem {
    overflow: hidden;
    height: 9vw;
     
}
#heroleft button{
    pointer-events: all;
    letter-spacing: .1vw;
    padding: .5vw 3vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: kajiro;
}
#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 19%;
    color: white;
   
}
#heroright p{
    text-align: right;
    font-size: 11px;
    font-weight: 300;
}
#heroright #imagediv{
    width: 100%;
    height: 130px;
    margin-top: 13px;  
    margin-bottom: 25px;
    background-image: url(https://plus.unsplash.com/premium_photo-1697791162630-9d69a2d11a17?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   background-position: center;

}

#heroright p:nth-child(3){
  margin-bottom: 80px;
}
